.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
!.env.example
.cache
server/dist
public/dist

.eslintcache

coverage/*

test-results/*
tests-examples/*
playwright-report/*
playwright/.cache/

asset.d.ts
asset.gen.ts

*.css.d.ts
*.module.css.d.ts

tsconfig.tsbuildinfo
.gitlab-ci-local
dry-run.json
.affected-apps
.ci_status

